<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Успех!</title>
		<link rel="stylesheet" href="../_static/css/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../_static/css/style.css" />
	</head>
	<body>
		<div class="message-container">
			<h1>Успех!</h1>
			<p>Спасибо, данные сохранены! При желании вы можете их отредактировать</p>
			<a href="/">На главную</a>
		</div>
	</body>
</html>
